html
  head
    title Incurso
    link(rel='stylesheet',href='/css/bootstrap.min.css')
    link(rel='stylesheet',href='/css/bootstrap-responsive.min.css')
    block css
  body
    header
    .container
      block content
    footer
      p running on node with Express
    //- script(src='/js/jquery-2.0.2.min.js')
    script(src='/js/bootstrap.min.js')
    block script