p {
  color: gray;
}

hr.title {
  margin-bottom:0px;
}

h4 {
  color: rgb(124, 124, 124);
}

form.form-inline {
  margin:0px;
}
input.input-small {
  height: 30px;
  margin: 5px;
  margin-left:0px;
  margin-top:5px;
}
input.input {
  height: 30px;
  width: 100%;
  margin: 5px;
  margin-left:0px;
  margin-top:10px;
}
textarea.input {
  height: 90px;
  width: 100%;
  margin: 5px;
  margin-left:0px;
  margin-top:10px;
}

div.overflow {
  overflow: scroll;
}

a.btn-align-left {
  text-align:left;
}
i.btn-align-left {
  margin-left:20px;
}

a.thumbnail {
  padding: 10px;
  text-decoration: none;
}

div.horizon_menu_item {
  display: none;
  margin-top: 62px;
}

p.uninvite {
  padding:5px;
  width:98%;
  border:solid 1px #DBDBDB;
}

i.uninvite {
  margin-top: 3px;
  margin-right: 3px;
  float:right;
}

p.file {
  margin:10px;
  padding:10px;
  width:90%;
  border:solid 1px #DBDBDB;
}